* {
    font-family: serif;
    box-sizing: border-box;
    max-width: 100%;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
 }
 html {
    scroll-behavior: smooth; /* Faz a rolagem ser suave */
}
 /* Área do Menu*/
.topo{
    display: flex;
    height: 100px;
    width: 100%;
    background: radial-gradient(circle,#0062ffe5,#000d22e5);
    background-size: 600% 600%;
    animation: moveGrad 10s ease infinite;
}
@keyframes moveGrad {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
.topo_int{
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-direction: row;
}
.marca {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}
.marca a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 10px rgb(53, 53, 53);
}  
.menu {
    display: flex;
    flex-direction:row-reverse;
    justify-content: center;
    align-items: center;
}
.menu ul {
    display: flex;
    flex-direction:row-reverse ;
    list-style: none;
    margin: 0;
}
.menu ul li a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 10px rgb(53, 53, 53);
}
.menu ul li a:hover {
    text-decoration: underline;
}

.banner_topo{
    width: 100%;
    height: 500px;
 }

 .banner_topo img {
    width: 100%;
    height: 500px;
 }

/* Área da Página em sí*/

.conteudo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    background: radial-gradient(circle,#0062ffe5,#000d22e5);
    background-size: 600% 600%;
  animation: moveGrad 10s ease infinite;
}
@keyframes moveGrad {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.historia {
    display: flex;
    justify-content: space-between;
    height: 500px;
}
.hist_esq{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
}
.title_hist{
    font-size: 40px;
    text-shadow: 1px 1px 5px black;
}
.title_hist h2 {
    margin: 0;
}
.text_hist_esq {
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.hist_dir{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    
}
.hist_dir img {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 100px;
}

.ministerio{
    display: flex;
    justify-content: space-between;
    height: 500px;
}
.minis_esq{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}
.minis_esq img {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 100px;
}
.minis_dir{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
}
.title_minis{
    font-size: 40px;
    text-shadow: 1px 1px 5px black;
}
.title_minis h2 {
    margin: 0;
}
.text_mins{ 
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.contribuir{
    display: flex;
    justify-content: space-between;
    height: 500px;
}
.cont_esq{
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
}
.title_cont{
    font-size: 40px; 
    text-shadow: 1px 1px 5px black;
}
.title_cont h2 {
    margin: 0;
}
.text_cont {
    font-size: 20px;
    text-align: left;
    text-shadow: 1px 1px 1px black;
    word-wrap: break-word;
    margin-left: 10px;
}
.cont_dir {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
}
.cont_dir img {
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 100px;
}
.redes{
    display: flex;
    justify-content:center ;
    align-items: center;
}
.titulo_redes{
    display: flex;
    justify-content: center;
    
}
.titulo_redes h2 {

    text-shadow: 1px 1px 5px black;
}
.imgs {
    display: flex;
    flex-direction: row;
}
.imgs img {
    width: 300px;
    height: 300px;
}









/* Efeito de transição nas divs de texto
.hist_esq,
.minis_dir,
.cont_esq {
    transition: all 0.3s ease-in-out;
    user-select: none; /* Impede a seleção do texto 
}
*/
/* Quando passar o mouse 
.hist_esq:hover,
.minis_dir:hover,
.cont_esq:hover {
    transform: scale(1.05); /* Aumenta o tamanho da div 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Adiciona sombra 
    background-color: rgba(255, 255, 255, 0.2); /* Destaque leve no fundo 
    border-radius: 10px; /* Borda arredondada 
}
*/