*{
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}
.topo{
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  background-color: white;
}
.topoint{
  width: 1000px;
  justify-content: center;
  display: flex;
}
.logo{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo img {
  width: 100%;
  height: 60%;
}
.menu{
  display: flex;
  align-items: center;
}
.menu li:hover {
  background-color: #39aae1;
  color:white;
}
.menu ul {
    list-style: none;
    display: flex;
    text-decoration: none;
}
.menu a {
  text-decoration: none;
  color: #727272;
}
.menu li {
    display: block;
    padding: 13px;
    height: 20px;
}
.conteiner{
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
#banner{
  display: flex;
  justify-content: center;
  background-image: url(../images/medico.png);
  background-position: center;
  background-size: cover;
  height: 700px;
}
.column{
  flex-direction:column ;
}
.banner_headline{
  flex: 1;
  display: flex;
  flex-direction:column ;
  justify-content: center;
}
.banner_options{
  height: 210px;
  display: flex;
}
.banner1,
.banner2,
.banner3{
  flex: 1;
  color: white;
  padding: 20px;
}
.banner1{
  background-color: #39aae1;
}
.banner2{
  background-color: #0079c7;
}
.banner3{
  background-color: #2b4c99;
}
.bannertitle{
  font-size: 21px;
}
.banner_desc{
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.banner_decH .hours{
  font-size: 12px;
  border-bottom: 1px solid rgb(56, 116, 185);
}
.banner_options a {
  display: inline-block;
  border: 1px solid white;
  padding: 5px;
  color: white;
  font-size: 13px;
  text-decoration: none;

}
.banner_headline h1 {
  color: white;
  font-size:70px ;
  text-shadow: 0px 1px 0px rgb(19, 19, 19);
  margin: 0;
  padding: 0;
  max-width: 350px;
  
}
.banner_headline h2 {
  color: white;
  font-size:21px ;
  text-shadow: 0px 1px 0px rgb(19, 19, 19);
  margin: 0;
  padding: 0;
  max-width: 350px;
  margin-top: 30px;
}
#geral {
  display: flex;
  justify-content: center;
}
#geral section {
  flex: 2;
}
#geral aside{
  flex: 1;
}

.widget_title{
  margin-top: 30px;
  margin-bottom: 20px;
}
.widget_title_text{
  color: black;
  font: 21px;
  font: bold;
}
.widget_title_bar{
  width: 50px;
  height: 2px;
  background-color: #39a9e1;
  margin-top: 10px ;
}
.widget_body1{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  gap: 20px;
}
.box{
  width: 130px;
  height: 120px;
  background-color: #39a9e1;
  margin: 10px;
}
.widget_title_text1{
  font-size: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(175, 175, 175);
  margin-bottom:20px;
}
.widget_title_text2{
  display: flex;
  margin-bottom: 10px;
}
.widget_title_text2 p {
  font-size: 15px;
  margin: 0;
  margin-left: 10px;
  padding-top: 10px;
  padding: 0;
}
 .widget_title_text2 img {
  width: 30px;
  height: 30px;
}
.widget_body{
  display: flex;
  flex-wrap: wrap;
}
.article_widget{
  flex: 1;
  min-width: 300px;
  margin-right: 20px ;
}
article a {
  text-decoration: none;
}
article .news_date{
  display: flex;
} 
article .news_posted_at{
  background-color: #2b4c99;
  color:#fff;
  font-size: 12px;
  padding: 10px;
}
article .news_comments{
  background-color: #39aae1;
  color:#fff;
  font-size: 12px;
  padding: 10px;
  margin-left: 2px;
}
article .img_news {
  margin-top: 30px;
}
article .img_news img {
  width: 100%;
  height: auto;
}
article .news_title{
  margin-top: 25px;
  margin-bottom: 25px;
  color:black;
  font-size: 23px;
}
article .news_resume{
  color: #5c5c5c;
  line-height: 20px;
  font-size:14px;
  margin-bottom: 30px;
}
footer {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px; /* opcional, pra não encostar tudo nas bordas em telas menores */
  display: flex;
  flex-direction: column;
}
.footer_menu {
  display: flex;

}
.fm_1, .fm_2, .fm_3 {
  flex: 1;
  color: #FFF;

}
.fm_1 {
  background-color: #39AAE1;
}

.fm_2 {
  background-color: #0079c7;
}

.fm_3 {
  background-color: #2b4c99;
}
.footer_menu .fm1_title, .fm2_title, .fm3_title {
  font-size: 20px;
  margin-bottom: 15px;
  color: #FFF;

}
.footer_menu .fm1_text, .fm2_text, .fm3_text {
  font-size: 13px;
}
.footer_menu a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: #FFF;
}

.footer_area {
  display: flex;
}
.footer_areaitem {
  flex: 1;
  color: #FFF;

}
.flexcolumn {
  flex-direction: column;
}
footer .widget_title_text {
  color: #FFF;
}

.footer_copy {
  border-top: 1px solid #2c2c2c;
  height: 40px;
  line-height: 40px;
  color: #5c5c5c;
  font-size: 15px;
  margin-top: 30px;

}
footer .widget_body {
  display: flex;
  color: #5c5c5c;
  margin-bottom: 300px;
 
}

footer .body_footer1, .body_footer2, .body_footer3 {
  display: flex;
  flex: 1;
  margin-top: 20px;

}
.body_footer2 {
  min-width: 150px;
  margin-top: 30px;
}

.body_footer2 .footer_body1{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  margin-right: 20px;

}
.body_footer2 .footer_body2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 400px;
  padding-top: 3px

}
.footer_areaitem .widget_posts {
  display: flex;
  flex-direction: column;

}
.footer_areaitem a {
  text-decoration: none;
  display: inline-block;
  color: #FFF;
}

.footer_areaitem .widget_posts1, .widget_posts2, .widget_posts3 {
  color: #FFF;
  margin-top: 30px;
  font-size: 15px;
  margin-left: 30px;
  margin-right: 20px;
}

.footer_areaitem .widget_posts1_time, .widget_posts2_time, .widget_posts3_time {
  color: #0079c7;
  margin-top: 3px;
}

.footer_areaitem .widget_tweets {
  display: flex;
  flex-direction: column;

}
.widget_tweets a {
  color: #5c5c5c;
}

.footer_areaitem .widget_tweets1, .widget_tweets2, .widget_tweets3 {
  margin-top: 30px;
  font-size: 15px;
  margin-left: 30px;
  margin-right: 20px;
}

.footer_areaitem .widget_tweets1_time, .widget_tweets_time, .widget_tweets3_time {
  color: #0079c7;
  margin-top: 3px;
}


@media (max-width:900px){
  .logo img {
    width: 80%;
    height: 47%;
  }
  .menu a{
    font-size: 12px;
  }
}
@media (max-width:780px){
  .menu a{
    font-size: 10px;
  }
}
@media (max-width:700px){
  .menu a{
    font-size: 9px;
  }
  .logo img {
    width: 100%;
  }
}
@media (max-width:650px){
  .menu a {
    font-size: 8px;
}
.banner_desc{
  margin-bottom: 10px;
}
.banner_decH {
  width: 258px;
}
.memu li {
  padding: 10px;
}
.conteiner{
  flex-direction: column;
}
}

@media (max-width:600px){
  .banner_headline h1 {
    font-size:60px;
  }
  .banner_headline h2{
    font-size: 18px;
  }
  .banner_decH .hours{
    font-size: 11px;
  }
  .banner1, .banner2, .banner3{
    padding: 5px;
  }
  .banner_options{
    flex-direction: column;
    height: auto;
  }
  .logo {
    display: none;
  }
  .menu a{
    font-size: 12px;
  }
  .menu ul {
    padding: 0;
  }
  .footer_menu{
    flex-direction:column ;
    padding: -1 ; 
  }
  .footer_area {
    flex-direction: column;
  }
  .article_widget {
    margin-right: 0;
  }
}
.submenu img {
  display: none;
}
@media (max-width:500px){
  .menu ul{
    display: none;
  }
  .topoint{
    display: flex;
    justify-content: space-between;
  }
  .logo {
    display: flex;
    width: 300px;
  }



  .menu {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  /* Oculta o menu inicialmente */
  .menu-itens {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%; /* abaixo do botão */
    right: 0;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 10px 0;
    z-index: 999;
  }
  
  .menu a {
    text-decoration: none;
    color: #555555;
  }
  
  .menu li {
    display: block;
    padding: 13px;
    height: 20px;
    white-space: nowrap;
  }
  
  .menu li:hover {
    background-color: #39aae1;
    color: white;
  }
  
  /* Mostrar menu quando o checkbox está checado */
  #toggle-menu:checked + label + .menu-itens {
    display: flex;
  }
  
  /* Estilo da imagem do menu */
  .submenu {
    cursor: pointer;
    padding: 10px;
  }
  .submenu img {
    width: 50px;
    height: auto;
    display: flex;
  }
}
@media (max-width:375px){
  .submenu img{
    width: 40px;
  }
  .logo{
    width: 240px;
  }
}